* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Got rid of DIV header class selector, replaced with Header Element selector*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* got rid of header div selector, replaced with nav element selector */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* replaced class selector with article element selector */
article {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* replaced div class selector with aside element selector */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* got rid of footer div, replaced with footer element, used footer element selector */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Got rid of class h1 selector, replaced with H1 header selector */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* removed multiple h3 class selectors, replaced with element selector */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Changed seo <span> class selector to mark element selector */
strong {
    color: #d9dcd6;
}

/* used UL element selector instead of a class selector */
ul {
    list-style-type: none;
}

/* used LI element selector instead of a class selector */
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* removed background-image, used <img> tag in  HTML instead for alt attribute */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Replaced multiple benefit classes with single benefits class */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/* replaced multiple benefits img class selectors with single benefits img class element selector */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* removed multiple recursive class selectors replaced with one main-content class selector */
.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* replaced multiple recursive img selectors under main-content with a single class element selector */
.main-content img {
    max-height: 200px;
}

/* replaced multiple recursive h2 selectors under main-content with a single class element selector */
.main-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* got rid of old footer class h2 selector replaced with footer-h2 id selector */
#footer-h2 {
    font-size: 20px;
}
